@import "tailwindcss";

@theme {
  --color-gray8: #141414;
  --color-gray10: #1a1a1a;
  --color-gray15: #262626;
  --color-gray60: #999999;
  --color-purple60: #703bf7;
}

@utility container {
  margin: auto;
  @variant xl {
    max-width: 1280px;
  }
}

.inner-stroke {
  @apply shadow-[inset_0_0_0_1px_rgb(38,38,38)];
}
